tensorflow[and-cuda]==2.19.0
matplotlib==3.10.1
numpy==1.26.4
pandas==2.2.3
Pillow==11.1.0
scikit-learn==1.6.1
seaborn==0.13.2
ultralytics==8.3.137
torchcam==0.4.0
streamlit==1.45.1
#scipy
#tqdm
#torch
#torchvision
#timm
#grad-cam

